<app-navbar></app-navbar>

<div *ngIf="stock">
    <div class="stock-cards">
        <div class="heading">
            <h1>{{stock.name}} ({{stock.symbol}})</h1>
        </div>
        <p>{{stock.exchange}}</p>
        <p>{{stock.type}}</p>
        <p>${{stock.price}}</p>
    </div>
    <div class="buttons">
        <button (click)="updatePrice(stock)" class="updateButton">Update</button>
        <button (click)="deleteStock(stock.id)" class="deleteButton">Delete</button><br>
    </div>

    <div>
        <div class="timeSeriesButtons">
            <button (click)="getTimeSeries(stock.symbol, '1day', 7)">7D</button>
            <button (click)="getTimeSeries(stock.symbol, '1week', 4)">1M</button>
            <button (click)="getTimeSeries(stock.symbol, '1month', 6)">6M</button>
            <button (click)="getTimeSeries(stock.symbol, '1month', 12)">1Y</button>
        </div>
        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
        </canvas>
    </div>
</div>