<form>
    <div class="form-group">
      <label for="stockInput">Stock Symbol:</label>
      <input [(ngModel)]="stockInput" type="text" class="form-control" name="stock" id="stockInput" placeholder="Enter stock symbol">
      <button (click)="addStock()" class="btn btn-success">Submit</button>
    </div>
  </form>

<div *ngIf="stocks.length == 0">
    <h3>No stocks in portfolio. Try adding some!</h3>
</div>

<div class="stock-cards">
    <a *ngFor="let stock of stocks" routerLink="/detail/{{stock.symbol}}" routerLink="/detail/{{stock.symbol}}">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{stock.symbol}}</mat-card-title>
                <mat-card-subtitle>{{stock.name}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{stock.exchange}}</p>
                <p>{{stock.type}}</p>
                <p>{{stock.price}}</p>
            </mat-card-content>
        </mat-card>
    </a>
</div>

<!-- <table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Exchange</th>
            <th>Type</th>
            <th>Price</th>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let stock of stocks; let i = index">
            <tr>
                <td>{{ stock.name }}</td>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.exchange }}</td>
                <td>{{ stock.type }}</td>
                <td>{{ stock.price }}</td>
                <td>
                    <button (click)="updatePrice()" class="btn btn-primary">Update</button>
                </td>
                <td>
                    <button (click)="deleteStock(stock.id)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table> -->