<h1 mat-dialog-title>Register New User</h1>
<div mat-dialog-content class="container">
    <form>
        <div class="form-group">
            <label for="usernameInput">Username</label>
            <input [(ngModel)]="usernameInput" type="text" class="form-control" name="username" id="usernameInput" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="passwordInput">Password</label>
            <input [(ngModel)]="passwordInput" type="password" class="form-control" name="password" id="passwordInput" placeholder="Enter password">
        </div>
        <div class="form-group">
            <label for="emailInput">Email</label>
            <input [(ngModel)]="emailInput" type="text" class="form-control" name="email" id="emailInput" placeholder="Enter valid email">
        </div>
        <div class="form-group">
            <label for="firstNameInput">First Name</label>
            <input [(ngModel)]="firstNameInput" type="text" class="form-control" name="firstName" id="firstNameInput" placeholder="Enter first name">
        </div>
        <div class="form-group">
            <label for="lastNameInput">Last Name</label>
            <input [(ngModel)]="lastNameInput" type="text" class="form-control" name="lastName" id="lastNameInput" placeholder="Enter last name">
        </div>
        <div class="form-group">
            <label for="roleInput">Role</label>
            <select [(ngModel)]="roleInput" class="form-control" name="role" id="roleInput">
              <option id="none" selected>Select an Role</option>
              <option id="User" value="User">User</option>
              <option id="Admin" value="Admin">Admin</option> 
            </select>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="[usernameInput, passwordInput, emailInput, firstNameInput, lastNameInput, roleInput]" class="btn btn-primary">Register</button>
    <button mat-button mat-dialog-close class="btn btn-danger">Cancel</button>
</div>